.widget {
    background-color: $light-blue;
    margin-bottom: $xl-size;
}

// widget header
.widget-header {
    background-color: $blue;
    color: $off-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}

.widget-header__title {
    margin: 0;
}

.widget-body {

}

.widget-body__message {
    text-align: center;
    padding: $l-size;
    color: $off-white;
    border-bottom: .1rem solid lighten($light-blue, 10%);
}

@media (max-width: $desktop-breakpoint) {
    .widget {
        margin-bottom: $m-size;
    }
}
